body {
    background-color: #282c34; 
    color: #abb2bf; 
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.centered-title {
    margin: 20px 0; 
    font-size: 2em;
    text-align: center;
    color: #61dafb; 
}

a {
    color: #cca300; 
    text-decoration: none; 
}

a:hover {
    color: #ddb100; 
}

/* Стиль для экранов шире 768px (обычно десктопы) */
@media (min-width: 768px) {
    pre code {
        font-size: 2em; /* увеличенный шрифт для больших экранов */
    }
}

/* Стиль для экранов уже 768px (обычно мобильные устройства) */
@media (max-width: 768px) {
    pre code {
        font-size: 1em; /* нормальный размер шрифта для мобильных устройств */
    }
}
